@import 'src/palette';

* {
  box-sizing: border-box;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *   so 1100 + 20 + 20 => 1140px
 *
 **/
.row {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12, .col-6-2{
  float: left;
  margin: 5px;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   * Half a gutter is 10px, 10/1140 (context) = 0.87793%
   *
   */
  padding-left: 0.87793%;
  padding-right: 0.87793%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: calc(100% - #{$widget-gap});
  padding: $widget-padding;
}

.col-6-2{
  width: calc(50% - #{$widget-gap});
  padding: $widget-padding;
}

/*tablet, "iPad" mini +*/
@media only screen and (min-width : 768px){
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  .col-6-2{
    width: calc(33.33% - #{$widget-padding} * 2);
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px){
  .col-6-2{
    width: calc(16.66% - 10px);
  }
}