@import 'src/palette';

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

.widget{
	height: 100px;
	border: 1px solid $white-4;
	background-color: $white-2;
	border-radius: 4px;

	> svg > .plain-text{
		fill: $body-normal;
	}
}