@import 'src/raw';


/* fonts */
/*    Sizes    */
$font-normal: 16px;


/* Abstraction */
$bg-color: $red;


/*Widget */
$widget-gap: 10px;
$widget-padding: 8px;


.bg-red-dark{
	background-color: $red-dark  !important;
}

.bg-orange-dark{
	background-color: $orange-dark  !important;
}

.bg-yellow-dark{
	background-color: $yellow-dark  !important;
}

.bg-green-dark{
	background-color: $green-dark  !important;
}

.bg-purple-dark{
	background-color: $purple-dark  !important;
}

.bg-pink-dark{
	background-color: $pink-dark  !important;
}




.bg-red-darkest{
	background-color: $red-darkest  !important;
}

.bg-orange-darkest{
	background-color: $orange-darkest  !important;
}

.bg-yellow-darkest{
	background-color: $yellow-darkest  !important;
}

.bg-green-darkest{
	background-color: $green-darkest  !important;
}

.bg-purple-darkest{
	background-color: $purple-darkest  !important;
}

.bg-pink-dark{
	background-color: $pink-dark  !important;
}