/* Colors */
$box-shadow-transparent: rgba(0,0,0,.15);
$black-med: rgb(35,35,35);

/*	RED 	*/
$red-brightest: rgb(221,94,87);
$red: rgb(154,64,64);
$red-dim: rgb(110,47,45);
$red-dark: rgb(77,32,32);

/*	ORANGE 	*/
$orange-brightest: rgb(221,159,87);
$orange: rgb(154,109,64);
$orange-dim: rgb(110,75,45);
$orange-dark: rgb(77,60,32);

/*	YELLOW 	*/
$yellow-brightest: rgb(234,185,69);
$yellow: rgb(154,140,64);
$yellow-dim: rgb(110,110,45);
$yellow-dark: rgb(70,77,32);


/*	BLUE 	*/
$blue-darkest: rgb(15,31,50);