/* Colors */
$box-shadow-transparent: rgba(0,0,0,.15);
$black-med: rgb(35,35,35);

/*	RED 	*/
$red-brightest: rgb(221,94,87);
$red: rgb(154,64,64);
$red-dim: rgb(110,47,45);
$red-dark: rgb(77,32,32);

/*	BLUE 	*/
$blue-darkest: rgb(15,31,50);