.map-title{
	display: inline;
	position: absolute;
	font-size: 14px;
}
.boundary {
  /*fill: rgb(0,60,0);*/

  /* 
    Solid option 
  */
  
  /*
  stroke: rgb(175,175,175);
  stroke-width: .25px; 
  */
  
  /*
      Dashed-option?!
  */
  stroke: rgb(105,105,105);
  stroke-width: .5px; 
  stroke-dasharray: 3 2 3 3;

  vector-effect: non-scaling-stroke;
  transition: fill 150ms;
}