@import 'src/palette';

.map-title{
	display: inline;
	position: absolute;
	font-size: 14px;
}
.boundary {
  cursor: pointer;
  transition: all 300ms;
  

  /* 
    Solid-border option 
  */
  
  /*
  stroke: rgb(175,175,175);
  stroke-width: .25px; 
  */
  
  /*
      Dashed-border-option
  */
  stroke: rgb(105,105,105);
  stroke-width: .5px; 
  stroke-dasharray: 3 2 3 3;

  vector-effect: non-scaling-stroke;
  transition: all 250ms;

  &:hover{
    /*fill: $white-4;*/
    fill: rgb(125,125,0);
    /*stroke-width: 2px;*/
    stroke-dasharray: none;
  };

  &:active{
    opacity: .2;
    stroke: none;
  };
}