@import 'src/palette';

.eval-form {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}
.display-text {
  color: $body-normal;
  font-size: $font-normal;
  line-height: 2;
  pointer-events: none;
}
.dd-wrapper {
  position: relative;
  background-color: $body-bg-normal;
  border-radius: 5px;
  border: 1px solid $white-4;
  -webkit-box-shadow: 0px 2px 5px $box-shadow-transparent;
  box-shadow: 0px 2px 5px $box-shadow-transparent;
  margin-bottom: 10px;
}

.dd-wrapper.disabled {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0px;
}

.eval-form-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: $body-normal;
  cursor: pointer;
  outline: none;
  padding: 8px 40px 8px 10px;
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
  width: 100px;
}
.eval-form-input:hover {
  -webkit-box-shadow: 0px 2px 5px $box-shadow-transparent;
  box-shadow: 0px 2px 5px $box-shadow-transparent;
}

.dd-menu {
  top: 100%;
  width: 98%;
  margin: 5px 0% 0 2%;
  max-height: 235px;
  border-radius: 5px;
  background-color: $white-4;
  -webkit-box-shadow: 0.1em 3px 5px $box-shadow-transparent;
  box-shadow: 0.1em 3px 5px $box-shadow-transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 99;
  -webkit-transform: translateX(-0.076em);
  -ms-transform: translateX(-0.076em);
  transform: translateX(-0.076em);
  border: 0.5px solid $box-shadow-transparent;
  overflow-y: auto;
  overflow-x: hidden;
}

.eval-form-input-option {
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: $black-med;
  font-size: $font-normal;
  line-height: 1.75;
  cursor: pointer;
  padding: 8px 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.eval-form-input-option:hover {
  background-color: #f2f9fc;
  color: $black-med;
}

.eval-form-label {
  font-family: 'Muli', sans-serif;
  color: $black-med;
  font-size: $font-normal;
  line-height: 18px;
  width: 90px;
  margin-right: 15px;
}
.eval-form-input:hover {
  -webkit-box-shadow: 0px 2px 5px $box-shadow-transparent;
  box-shadow: 0px 2px 5px $box-shadow-transparent;
}

.eval-form-input-option:hover {
  background-color: #f2f9fc;
  color: $black-med;
}
.item-list {
  background-color: #f2f9fc;
  color: $black-med;
}
